<div style="position:fixed; width:15.5%; height:100%; background:#11265e;">
  <ul class="list-group col-sm-2" style="margin-top:10px;">
    <li class="list-group-item" routerLink="/dashboard" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><i class="glyphicon glyphicon-dashboard" style="color:white;"></i>&nbsp;<span class="text" style="color:white;"> Dashboard</span></li>
    <li class="list-group-item" routerLink="/user-details" routerLinkActive="active" ><i class="glyphicon glyphicon-user" style="color:white;"></i>&nbsp;<span class="text" style="color:white;"> User Details</span></li>
    <li class="list-group-item" routerLink="/total-assets" routerLinkActive="active" ><i class="glyphicon glyphicon-list-alt" style="color:white;"></i>&nbsp;<span class="text" style="color:white;"> Total Assets</span></li>
    <li class="list-group-item" routerLink="/trade-history" routerLinkActive="active" ><i class="glyphicon glyphicon-book" style="color:white;"></i>&nbsp;<span class="text" style="color:white;"> Trade History</span></li>
  </ul>
</div>
